*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.clearfix{
  content:"";
  display:table;
  clear: both;
}

.player{
  max-width: 1170px;
  height: 70px;
  background-color: lightgreen;
  margin: 300px auto;
  display: flex;
  justify-content: space-between;
}


.console_prova{
  background-color: rgba(0,0,0,0.5);
  flex-grow: auto;
  border:1px solid black;
}

.player .console_prova:nth-child(2){
  flex-grow: 1;
}

.console_prova i{
  margin: 10px 15px;
}

.tasti{
  text-align: center;
}

.track_status_prova{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.in_rirpoduzione{
  display: flex;
  max-width: 100%;
}


.in_rirpoduzione .avanzamento{
  width: 50%;
  height: 4px;
  background-color: #fff;
  float: left;
  align-self: center;
}

.time{
  margin: 0 10px;
}
