/* QUERY FOR THE XS RANGE <768px */
@media all and (max-width: 767px) {

  .card{
    width: calc(100% / 2 - 2%);
  }

  .sidebar{
    max-width: 50px;
  }

  .aplication_body{
    min-width: calc(100% - 50px);
  }

  .cta_top{
    min-width: calc(100% - 50px);
  }
  .home, .playlist, .install_app{
    display: none;
  }
}

/* QUERY FOR THE SM RANGE >767px */
@media all and (min-width: 767px) {
  .card{
    width: calc(100% / 2 - 2%);
  }
}

/* QUERY FOR THE MD RANGE >991px */
@media all and (min-width: 991px) and (max-width: 1199px) {
  .card{
    width: calc(100% / 4 - 2%);
  }
}



/* QUERY FOR THE LG RANGE >1199px */
@media all and (min-width:1199px) {
  .card{
    width: calc(100% / 6 - 2%);
  }

  #in_evidenza .catalogo{
    justify-content: space-between;
  }
}























/* QUERY FOR THE HEIGHT DIRECTION */
@media all and (max-height: 350px) {
  /* .install_app{
    display:none;
  } */
}

@media all and (max-height: 70px) {
  /* .sidebar, .aplication_body{
    display: none;
  } */

}
