/*-------------------- QUERY FOR THE XS RANGE <768px -----------------*/
@media all and (max-width: 767px) {
  .sidebar{
    max-width: 50px;
    padding:5px;
    text-align: center;
  }

  .home, .playlist{
    padding-top: 0px;
  }

  .logo, .home, .playlist, .install_app {
    padding-left: 0px;
  }

  .logo{
    height: 50px;
  }

  .card{
    width: calc(100% / 2 - 2%);
    min-width: 150px;
  }


  .logo #lg_logo{
    display:none;
  }

  .home{
    flex-grow: 1;
    padding: 0px;
  }

  .home ul li .side_marker{
    display:none;
  }

  .home ul li a:last-child{
    display:none;
  }

  .add_playlist{
    display:none;
  }

  .playlist{
    display: none;
  }


  .install_app a,
  .install_app .profile h5 {
    display:none;
  }

  #download_pic{
    margin-right: 0px;
  }

  #download_pic, #profile_pic{
    margin: 0;
  }

  .install_app .download{
    border-bottom: 1px solid #2e2e2e;
  }

  .aplication_body{
    min-width: calc(100% - 50px);
  }

  .top_bar{
    min-width: calc(100% - 50px);
  }


}



/*---------------------- QUERY FOR THE SM RANGE >767px --------------------*/
@media all and (min-width: 768px) and (max-width:991px) {

  .logo, .home, .playlist, .install_app{
    padding-left: 10px;
  }

  .logo{
    min-height: 70px;
  }

  .install_app{
    padding-right: 10px;
  }

  .card{
    width: calc(100% / 2 - 2%);
  }

  #small_logo{
    display: none;
  }
}



/*--------------------- QUERY FOR THE MD RANGE >991px -----------------------*/
@media all and (min-width: 991px) and (max-width: 1199px) {

  .logo, .home, .playlist, .install_app{
    padding-left: 10px;
  }

  .logo{
    min-height: 70px;
  }

  .install_app{
    padding-right: 10px;
  }

  .card{
    width: calc(100% / 4 - 2%);
  }

  #small_logo{
    display: none;
  }
}



/*--------------------------- QUERY FOR THE LG RANGE >1199px -----------------*/
@media all and (min-width:1199px) {

  .logo, .home, .playlist, .install_app{
    padding-left: 10px;
  }

  .logo{
    min-height: 70px;
  }

  .install_app{
    padding-right: 10px;
  }

  .card{
    width: calc(100% / 6 - 2%);
  }

  #in_evidenza .catalogo{
    justify-content: space-between;
  }

  #small_logo{
    display: none;
  }
}
