*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
}
/* tis set rules the MAINSTRUCTURE behavior */

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

/* tis set rules the SIDEBAR behavior */
.logo{
  height: 70px;
  flex-shrink: 1;
  overflow: hidden;
}

.sidebar{
  width: 200px;
  height: calc(100vh - 70px);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  /* DEBUG:  */
  background-color: red;
}

.sidebar h5{
  color: #fff;
  font-weight: bold;
}

.sidebar ul{
  list-style-type: none;
}

.sidebar ul li{
  margin: 10px 0;
}

.sidebar .home{
  /* flex-grow: 1; */
  flex-shrink: 2;
  overflow: hidden;
}

.sidebar .playlist{
  flex-grow: 1;
  flex-shrink: 2;
  overflow: auto;
}

.install_app{
  height: 40px;
  /* DEBUG:  */
  border:1px solid black;
}

/* this set rules APPLICATOIN BODY behavior */
.aplication_body{
  width: calc(100% - 200px);
  height: calc(100vh - 70px);
  overflow: auto;
  /* DEBUG:  */
  background-color: green;
}

.sidebar, .aplication_body{
  float: left;
}

.cta_top{
  width: calc(100% - 200px);
  height: 70px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  /* DEBUG:  */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: right;
}

.cta_top a{
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  border:2px solid #fff;
  border-radius: 8px;
}

/* this set rules the PLAYER behavior */
.player{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  /* DEBUG:  */
  background-color: pink;
}

.console{
  display: flex;
  align-items: center;
  padding: 0 10px;
  /* DEBUG:  */
  border:1px solid black;
  flex-basis: auto;
}

.console h5,
.console span{
  margin:0;
}

.playing_now img{
  width: 40px;
  height: auto;
  margin-right:0.5rem;
}

.playing_now .onair{
  display: inline-block;
}

.playing_now .far{
  margin:0 6px;
}

.player .console:nth-child(2){
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 20em;
  justify-content: center;
}

.console.controller .control_station{
  line-height: 32px;
}

.console.controller .control_station i{
  margin: 0 0.6rem;
  font-size: 1.3rem;
}
