*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: "Roboto", "sanserif";
}


/* tis set rules the MAINSTRUCTURE behavior */

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

/* tis set rules the SIDEBAR behavior */
.sidebar{
  width: 200px;
  height: calc(100vh - 86px);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
}

.sidebar h5{
  color: #fff;
  font-weight: bold;
}

.sidebar ul{
  list-style-type: none;
}

.sidebar ul li{
  margin: 10px 0;
}

.sidebar ul li a{
  text-decoration: none;
  color:#fff;
}

.logo{
  height: 70px;
  flex-shrink: 1;
  overflow: hidden;
  padding-top: 8px;
}

.sidebar .home{
  /* flex-grow: 1; */
  flex-shrink: 2;
  overflow: hidden;
}

.home img{
  max-width: 25px;
  height: auto;
  margin-right: 5px;
  vertical-align: bottom;
}

.sidebar{
  flex-grow: 1;
  flex-shrink: 2;
  overflow: auto;
  /* DEBUG:  */
}

.home, .playlist{
  padding-top: 30px;
}


.playlist{
  flex-grow: 1;
  flex-shrink: 2;
  overflow:auto;
}

.playlist h5{
  font-size: 1.2rem;
  font-weight: bold;
}

.fa-plus-square {
  font-size: 2.2rem;
  margin-right: 5px;
}

.install_app{
  color: #fff;
  /* DEBUG:  */
  flex-shrink: 2;
}

.profile{
  padding-top:5px;
}

.profile img,
.profile h5{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.download{
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.profile h5{
  font-size: 1rem;
}

.install_app #download_pic{
  max-width: 20px;
  vertical-align: middle;
  margin-right: 15px;
}

.install_app #profile_pic{
  max-width: 25px;
  height: auto;
  border-radius: 50%;
  background-color: grey;
}

/* this set rules APPLICATOIN BODY behavior */
.aplication_body{
  width: calc(100% - 200px);
  height: calc(100vh - 86px);
  padding: 0 30px;
  overflow: auto;
  background-color: #070813;
  /* DEBUG:  */
}

.sidebar, .aplication_body{
  float: left;
}

.cta_top{
  width: calc(100% - 200px);
  height: 86px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  /* DEBUG:  */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cta_top a{
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  border:2px solid #fff;
  border-radius: 8px;
}

/* this set rules the NAV behavior */
nav{
  margin-top: 100px;
  text-align: center;
}

nav ul li {
  display:inline-block;
  margin: 0 20px;
  position: relative;
}

nav ul li a{
  color: grey;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

li .marker{
  width: 30px;
  height: 3px;
  background-color: #1DB954;
  position: absolute;
  bottom:-10%;
  left:50%;
  transform: translate(-50%, 0);
}

/* this set rules the BODY of the webapplication */
.section_title{
  font-size: 1.5rem;
  margin: 30px 0;
}

.section_title a{
  color:#fff;
  text-decoration: none;
}

/* this set rules the PLAYER behavior */
.player{
  height: 86px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  /* DEBUG:  */
  background-color: #2e2e2e;
}

.console{
  padding: 15px 10px;
  /* DEBUG:  */
  border:1px solid #fff;
  /* flex-basis: auto; */
  flex-grow: auto;
}

.console h5,
.console span{
  margin:0;
}

/*.console.playing_now right side of the player */
.playing_now{
  display: flex;
  align-items: center;
}

.playing_now img{
  width: 40px;
  height: auto;
  margin-right:0.5rem;
}

.playing_now .onair{
  display: inline-block;
}

.playing_now .far{
  margin:0 6px;
}


/* .console.controller center side of the player */

.player .console:nth-child(2){
  /* flex-grow: 1; */
  flex-basis: 500px;
}

.console i{
  margin: 10px 15px;
}

.tasti{
  text-align: center;
}

.track_status{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.in_rirpoduzione{
  display: flex;
  max-width: 100%;
  flex-wrap: nowrap;
}


.in_rirpoduzione .avanzamento{
  width: 50%;
  height: 4px;
  float: left;
  align-self: center;
  /* background-color: #fff; */
}

.avanzamento.uno{
  background-color: grey;
}

.avanzamento.due{
  background-color: #fff;;
}

.time{
  margin: 0 10px;
}


/* player rightside volume controller */
.console.options i{
  margin:0 15px;
}

.volume_indicator{
  width: 100px;
}

.volume_indicator div{
  height: 4px;
  float: left;
}

.volume_indicator div:first-child{
  width: 40%;
  background-color: grey;
}

.volume_indicator div:last-child{
  width: 60%;
  background-color: #fff;
}

.player .console:last-child{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
