
/*------------------- REGOLE GENERALI WEBAP -------------------------*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: "Roboto", "sanserif";
}


/*----------------- tis set rules the MAINSTRUCTURE behavior -------------*/
.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

.sidebar, .aplication_body{
  float: left;
}


/*---------------------- tis set rules the SIDEBAR behavior ----------------*/
.sidebar{
  width: 200px;
  height: calc(100vh - 86px);
  padding-top:10px;
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  flex-grow: 1;
  flex-shrink: 2;
  overflow: hidden;
}

.sidebar h5{
  color: #fff;
  font-weight: bold;
}

.sidebar ul{
  list-style-type: none;
}

.sidebar ul li{
  margin: 10px 0;
  position: relative;
}

.sidebar ul li a{
  text-decoration: none;
  color:grey;
}

.sidebar ul li a:hover{
  color: #fff;
}

.logo, .home, .playlist, .install_app{
  padding-left: 10px;
}

/* Set for the LOGO container in the sidebar */
.logo{
  min-height: 70px;
  flex-shrink: 1;
  overflow: hidden;
  padding-top: 8px;
}

.logo #lg_logo{
  width: 150px;
  height: auto;
}

#small_logo{
  margin: 5px 0 0 0;
}

/* set for the HOME container in the sidebar */
.sidebar .home{
  min-height: 135px;
  flex-shrink: 2;
  overflow: hidden;
}

.side_marker{
  height: 100%;
  width: 4px;
  background-color: #1DB954;
  position: absolute;
  left:-5%;
  top:0;
}

.home img{
  max-width: 25px;
  height: auto;
  margin-right: 5px;
  vertical-align: bottom;
}

.home ul li:first-child a:last-of-type{
  color:#fff;
}


/* set for the PLAYLIST container in the sidebar */
.playlist{
  min-height: 150px;
  flex-grow: 1;
  flex-shrink: 2;
  overflow:auto;
}

.playlist h5{
  font-size: 1.2rem;
  font-weight: bold;
}

.playlist li a{
  font-size: 0.8rem;
}

.fa-plus-square {
  font-size: 2.2rem;
  margin-right: 5px;
}


/* set for the INSTAL_APP conteiner in the sidebar */
.install_app{
  color: #fff;
  /* DEBUG:  */
  flex-shrink: 2;
}

.profile{
  padding:5px 0;
}

.profile img,
.profile h5{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.download{
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.download span{
  margin-left: 15px;
}

.profile h5{
  font-size: 1rem;
}

.install_app #download_pic{
  max-width: 20px;
  vertical-align: middle;
}

.install_app #profile_pic{
  max-width: 25px;
  height: auto;
  border-radius: 50%;
  background-color: grey;
}



/*------------------ this set rules APPLICATOIN BODY behavior -----------------*/
.aplication_body{
  width: calc(100% - 200px);
  height: calc(100vh - 86px);
  padding: 0 30px;
  overflow: auto;
  background-color: #070813;
}

/* set for the TOP_BAR in the application_body */
.top_bar{
  width: calc(100% - 200px);
  height: 86px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  /* DEBUG:  */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top_bar #button_cta{
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  border:2px solid #fff;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.top_bar #button_cta:hover{
  transform: scale(1.1);
}

/* this set rules the NAV behavior in the aplication_body */
nav{
  margin-top: 86px;
  text-align: center;
}

nav ul li {
  display:inline-block;
  margin: 10px 20px;
  position: relative;
}

nav ul li a{
  color: grey;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul li a:hover{
  color:#fff;
}

li .marker{
  width: 30px;
  height: 3px;
  background-color: #1DB954;
  position: absolute;
  bottom:-10%;
  left:50%;
  transform: translate(-50%, 0);
}


/* this set rules the BODY of the webapplication */
.section_title{
  font-size: 1.5rem;
  margin: 30px 0;
}

.section_title p{
  color:grey;
  margin: 10px 0;
  font-size: 0.8rem;
}


.section_title a{
  color:#fff;
  text-decoration: none;
}

.catalogo{
  display: flex;
  flex-wrap: wrap;
}

/* set for the CARD in the application_body */
.card{
  margin: 20px 1%;
  padding: 10px;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

section .card:first-of-type{
  margin-left: 0;
}

.card:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.cover{
  position: relative;
}

.cover .fa-play-circle{
  font-size: 2.7rem;
  color:#fff;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);

}

.card .layover,
.cover .fa-play-circle{
  display:none;
}

.cover:hover .layover,
.cover:hover .fa-play-circle{
  display: block;
}

.card img{
  width: 100%;
}

.layover{
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#artisti_popolari .catalogo .card .cover .layover{
  border-radius: 50%;
}


.card_details{
  width: 100%;
  text-align: center;
  color:#fff;
  /* DEBUG:  */
  /* border:1px solid green; */
  font-size: 1rem;
}

.card_details div:first-child{
  font-size: 0.9rem;
  margin: 10px 0;
}

.card_details div:last-child{
  font-size: 0.7rem;
}

#artisti_popolari .catalogo .card img{
  border-radius: 50%;
}



/*--------------------- this set rules the PLAYER behavior ----------------------*/
.player{
  height: 86px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  /* DEBUG:  */
  background-color: #2e2e2e;
}

.console{
  padding: 15px 10px;
  /* DEBUG:  */
  /* border:1px solid #fff; */
  /* flex-basis: auto; */
  flex-grow: auto;
}

.console h5,
.console span{
  margin:0;
}

/*.console.playing_now right side of the player */
.playing_now{
  display: flex;
  align-items: center;
}

.playing_now img{
  width: 40px;
  height: auto;
  margin-right:0.5rem;
}

.playing_now .onair{
  display: inline-block;
}

.playing_now .far{
  margin:0 6px;
}


/* .console.controller center side of the player */

.player .console:nth-child(2){
  flex-basis: 500px;
  min-width: 300px;
}

.tasti{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasti i{
  margin: 10px 15px 5px;
  transition: all .2s ease-in-out;
}

.console.controller i:nth-of-type(3){
  font-size: 27px;
}

.console.controller i:hover{
  transform: scale(1.5);
}

.in_rirpoduzione{
  display: flex;
  max-width: 100%;
  flex-wrap: nowrap;
}

.in_rirpoduzione .avanzamento{
  width: 50%;
  height: 4px;
  align-self: center;
}

.avanzamento.uno{
  background-color: grey;
  position: relative;
}

.avanzamento.uno:hover{
  background-color: #1DB954;
}

.indicator{
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -5%;
  top:-110%;
  border-radius: 50%;
  display: none;
}

.avanzamento.uno:hover .indicator{
  display: block;
}

.avanzamento.due{
  background-color: #fff;
}

.time{
  margin: 0 10px;
}


/* player rightside volume controller */
.console.options i{
  margin:0 15px;
}

.volume_controller{
  width: 100px;
}

.volume_controller > div{
  height: 4px;
  float: left;
}

.volume_controller .volume_up{
  width: 40%;
  background-color: grey;
  position: relative;
}

.volume_up:hover{
  background-color: #1DB954;
}

.volume_up:hover .indicator{
  display:block;
}

.volume_controller .volume_down{
  width: 60%;
  background-color: #fff;
}

.player .console:last-child{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
